button {
  background: rgba(113, 108, 255, 0.5);
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover,
button:focus {
  border: 1px solid rgba(113, 108, 255, 1);
}

button:disabled,
button:disabled:hover,
button:disabled:focus {
  border: 1px solid transparent;
  cursor: default;
}

.Phonetic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Phonetic p {
  color: #6d6d6d;
  font-family: "Roboto Mono", monospace;
  letter-spacing: -1px;
}
